.main {
  display: flex;
  flex-direction: column;
}

.section.happy {
  --section-bg: var(--surface-happy);
}
.section.cute {
  --section-bg: var(--surface-cute);
}
.section.cool {
  --section-bg: var(--surface-cool);
}
.section.gentle {
  --section-bg: var(--surface-gentle);
}
.section {
  background-color: var(--section-bg);
}
